.git
.gitignore
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

shared/files/
data/
*.zip
*.log

monitor/__pycache__/
core/__pycache__/
shared/__pycache__/
ui/__pycache__/
workers/**/__pycache__/

ui-web/node_modules/
ui-web/dist/
ui-web/*.tsbuildinfo
